@import url('https://googleapis.com');

* {
    box-sizing: border-box;
}

#JournalHeader {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: var(--text-primary);
}

.journalEntryCard {
    font-family: var(--font-selected);
    font-size: 14px;
    margin: 0;
    color: var(--text-primary);
    padding: 8px;
    border: 2px dashed var(--bg-accent);
}

.JournalEntry h2 {
    margin-top: 0;
    color: var(--text-primary);
    font-size: 1.8rem;
}

.JournalEntry p {
    margin: 8px 0;
    color: var(--text-primary);
}

.mainJournal {
    flex: 1;
    margin: auto;
    padding: 40px 40px;
    width: 100%;
    box-sizing: border-box;
}