* {
    box-sizing: border-box;
}

.mood_1 {
    background-color: #4a4e69 !important;
    color: #ffffff !important;
    font-weight: bold;

}

.mood_2 {
    background-color: #a8dadc !important;
    color: #000000 !important;
    font-weight: bold;

}

.mood_3 {
    background-color: #eae2b7 !important;
    color: #000000 !important;
    font-weight: bold;

}

.mood_4 {
    background-color: #a9dfbf !important;
    color: #000000 !important;
    font-weight: bold;

}

.mood_5 {
    background-color: #f9c74f !important;
    color: #000000 !important;
    font-weight: bold;
}

.react-calendar__tile {
    padding: clamp(6px, 1.5vw, 14px) clamp(3px, 1vw, 8px) !important;
    font-size: clamp(12px, 1.2vw, 16px) !important;
}

.moodKey {
    font-family: 'Montserrat', serif;
    font-size: clamp(15px, 1.3vw, 18px);
    margin: 8px 0;
    color: #1a202c;
    font-weight: 200;
    width: 50%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    align-content: center;
    border: 2px dashed #c6e7e4;
    gap: 5px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.moodHeader {
    margin: 0 0 2px 0;
    padding-top: 16px;
    font-family: 'Montserrat', serif;
    font-size: clamp(14px, 1.3vw, 18px);
    color: #1a202c;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.keyBox {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    .keyBox {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}